{% extends '::base.html.twig' %}

{% block body %}
<div class="row" id="orchard-img">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
    <div style="width: 100%; height: 300px; background: url({{ orchard.images[0].src }}); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>


    <div class="fullscreen background parallax" style="background-image: url('{{ orchard.images[0].src }}'); background-attachment: fixed;" data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
        <div class="content-b">
          <span id="title-home_search">Busca un huerto para ti</span><br><br><br><br>
          <input type="text" id="input-home_search" placeholder="Pon tu ciudad, CP o nombre del huerto"><button id="btn-home_search" class="button" type="button">Buscar</button>
        </div>
      </div>
    </div>




  </div>
</div>
<div class="spacing"></div>



<div class="row container" id="location-contact">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

  </div>
</div>
<div class="spacing"></div>



<div class="row container" id="next-activities">
  <!-- MOSTRAR LAS PRÓXIMAS ACTIVIDADES DE CADA HUERTO (3 COLUMNAS) -->
  <h5>PRÓXIMAS ACTIVIDADES</h5>
  <hr class="hr-orchard-profile">
  {% if orchard.orchardActivity is empty %}
  <h1>Este huerto no tiene actividades</h1>
  {% else %}
  {% for orchardActivity in orchard.orchardActivity %}
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>{{ orchardActivity.name }}</h1>
  </div>
  {% endfor %}
  {% endif %}

</div>
<div class="spacing"></div>



<div class="row container" id="philosophy">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nulla arcu.
    Curabitur consequat convallis nulla nec pharetra. Proin accumsan dui non dictum tristique.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. "
  </div>
</div>
<div class="spacing"></div>



<div class="row container" id="how-is-it">
  <h5>CÓMO ES</h5>
  <hr class="hr-orchard-profile">
  <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
<!-- TIPO DE HUERTO -->
  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 border">
    <h6>Tipo de huerto</h6>
    <br>
  </div>

  <!-- EQUIPAMIENTO -->
  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 border">
    <h6>Equipamiento</h6>
    <br>
  </div>
</div>
<div class="spacing"></div>



<div class="row container" id="how-to-join">
  <h5>CÓMO UNIRTE</h5>
  <hr class="hr-orchard-profile">
  <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
  <!-- MODALIDADES -->
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 border">
      <h6>Modalidades</h6>
      <br>
    </div>

    <!-- NORMAS DE HUERTO -->
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 border">
      <h6>Antes es importante que sepas</h6>
      <br>
    </div>

    <div class="spacing"></div>
    <!-- PASOS PARA INSCRIBIRTE -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:40px">
      <h6>Qué necesitas para inscribirte</h6>
      <br>
    </div>
</div>
<div class="spacing"></div>



<div class="row container" id="location">
  <h5>DÓNDE SE ENCUENTRA</h5>
  <hr class="hr-orchard-profile">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div id="map-show" style="height:400px; width:100%;"></div>
    <input type="text" id="Geometry" value="{{orchard.geometry}}" hidden="hidden">
  </div>
</div>
<div class="spacing"></div>



<div class="row container" id="contact">
  <!-- TIENES ALGUNA PREGUNTA -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h3>¿Tienes alguna pregunta?</h3>
      <hr class="hr-orchard-profile">
    </div>

    <!-- FORMULARIO DE CONTACTO -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

    </div>
</div>
<div class="spacing"></div>



{% endblock %}
