.cuadro-subidas{
  border: solid 2px black;
  overflow: hidden;
}
#gallery{
  display: inline-block;
  vertical-align: middle;
}
#gallery .thumbnail{
    max-width:150px;
    /*height: 150px;*/
    float:left;
    margin:15px;
    text-align: center;
    vertical-align: bottom;
    overflow:hidden;
}
#gallery .thumbnail img{
    width:150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px #888888;
    overflow: hidden;
}
#gallery .thumbnail input{
  margin-top: 5px;
  border-radius: 10px;
  vertical-align: bottom;
}
.descripcion{
  width: 90%;
}
.more{
  margin: 15px;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-style: dashed;
  border-radius: 15px;
  cursor:pointer;
  display: table;
}
.more p{
  text-align:center;
  vertical-align: middle;
  display: table-cell;
}
