.cuadro-subidas-pdf{
  display: inline-block;
  border-style: dashed;
  border-radius: 5px;
  padding: 50px;
  cursor:pointer;
  display: table;
  overflow: hidden;
}

.centrar-o{
  margin-left: 40%;
}

#files{
  display: inline-block;
  vertical-align: middle;
}
#files .thumbnail{
    max-width:150px;
    /*height: 150px;*/
    float:left;
    margin:15px;

    vertical-align: bottom;
    overflow:hidden;
}
#files .thumbnail p{
  text-align: center;
}
#files .thumbnail img{
    width:150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px #888888;
    overflow: hidden;
}
#files .thumbnail span{
    text-align: right!important;
}
.more{
  margin: 15px;
  width: 90%;
  height: 100px;
  display: inline-block;
  border-style: dashed;
  border-radius: 15px;
  cursor:pointer;
  display: table;
}
.more p{
  text-align:center;
  vertical-align: middle;
  display: table-cell;
}
