html,body,.map,.step-1,.steps {
    height:100%;
}

.container-fluid {
    height: 84%;
}

.fixed {
    position: fixed;
    bottom:0;
    left:50%;
    right: 50%;
    z-index: 9999;
 }

 /*+++++++++++++++++Alex+++++++++++++++++*/

.display-3 {
  font-size: 2.5rem;
}

.display-4 {
  font-size: 2rem;
  font-weight: 400;
}

/*scroll left*/
.steps-left {
  padding: 30px;
  position: fixed;
  overflow-y: scroll;
  height: 70vh;
}

.steps-left::-webkit-scrollbar {
    display: none;
}
/*end scroll left*/


.steps-right {
  height: 100%;
}
h4 {
  display: inline;
  margin-right: 50%;
}
.fa-check{
  color: green;
}
.steps-right-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
small {
  color: rgb(175, 175, 175);
}
.btn-steps {
  margin-top: 10px;
}
  /*+++++++++++++++++EndAlex+++++++++++++++++*/


/*+++++++++++++++++MEDIA QUERYS+++++++++++++++++*/
/* Extra-small (mobiles) */
@media (max-width: 768px) {
	.fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 93vw;
	}
  .steps-right {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
      width: 93vw;
	}

  .steps-right {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 50%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 50%;
	}

}
/*+++++++++++++++++END MEDIA QUERYS+++++++++++++++++*/
