html,body,.map,.step-1,.steps {
    height:100%;
}

.container-fluid {
    height: 84%;
}

.fixed {
    position: fixed;
    bottom:0;
    left:50%;
    right: 50%;
    z-index: 9999;
 }

 /*+++++++++++++++++Alex+++++++++++++++++*/

.display-3 {
  font-size: 2.5rem;
}

.display-4 {
  font-size: 2rem;
  font-weight: 400;
}

.steps-left {
  padding: 30px;
}

/*scroll left*/
.steps-left-12 {
  padding: 30px;
  margin-right: 50px;
  position: fixed;
  overflow-y: scroll;
  height: 65%;
}

/*.steps-left-12::-webkit-scrollbar {
    display: none;
}
/*end scroll left*/




.steps-right {
  height: 100%;
  z-index: -9999;
}
h4 {
  display: inline;
  margin-right: 50%;
}
.fa-check{
  color: green;
}
.steps-right-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
small {
  color: rgb(175, 175, 175);
}
.btn-steps {
  margin-top: 10px;
}
  /*+++++++++++++++++EndAlex+++++++++++++++++*/


/*+++++++++++++++++MEDIA QUERYS+++++++++++++++++*/
/* Extra-small (mobiles) */
@media (max-width: 768px) {
	.fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 93vw;
	}
  .steps-right {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
      width: 93vw;
	}

  .steps-right {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 50%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fixed-buttons {
		position: fixed;
	    bottom: 0px;
	    z-index: 9999 !important;
	    width: 50%;
	}

}

/*+++++++++++++++++END MEDIA QUERYS+++++++++++++++++*/
.label-control{padding-right: 20px;}
.label-control + .tooltip > .tooltip-inner {background-color: #f00;}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.steps-left-12::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.steps-left-12::-webkit-scrollbar-thumb {
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background: #dcdcdc;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
.steps-left-12::-webkit-scrollbar-thumb:window-inactive {
	background: #dcdcdc;
}

/*Loader para 'Guardar y salir'*/

.loading {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0.25rem solid #eee;
  border-top-color: #0074d9;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#start-chars, #governance-chars{
    position:absolute;
    right:0;
    top:0;
    font-size:20px;
    font-weight:bold;
    color:#ccc;
}

.ta-maxlength {
    outline: none !important;
    border:1px solid red !important;
    box-shadow: 0 0 10px #719ECE !important;
}
