<html>
<body>
<h1 class="display-3">Hola administrador!<h1>
  <label>{{ userName }} quiere añadir un nuevo tipo de huerto:</label>
  <span>{{ orchard_type }}<span>

  </br>
</br>
    <a href="https://localhost:8000/orchard/suggest/{{orchard_type}}/false"><button style="display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;" id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6 ">Rechazar</button></a>

    <a href="https://localhost:8000/orchard/suggest/{{orchard_type}}/true"><button style="display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;" id="btn-siguiente" type="submit" class="btn btn-primary">Aceptar</button></a>
</body>
</html>
