{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row steps">
  <div class="col-xs-12 col-md-5 col-lg-5 steps-left">
    {% if userName is defined and userName != '' %}
      <h1 class="display-4">Huerto de {{ userName }}</h1>
    {% endif %}

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 ">
        <img class="previewImg" src="{{images[0].src}}" alt="{{images[0].description}}">

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h6>Este huerto es:</h6>
        	{% for orchard_type in orchard_types %}
          <div class="type_orchard">{{orchard_type.name}}</div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h6>Este huerto nace de la asociación de vecinos de XXXX...</h6>
      </div>
    </div>
      <a href="create"><button type="button" class="btn btn-primary">Seguir completando</button></a>
      <a href="#"><button type="button" class="btn btn-primary">Publicar</button></a>
  </div>

  <div class="steps-right col-md-7 col-lg-7">
    <div class="steps-right-text">
      <h2 class="display-3">Esta es un avanze de tu huerto</h2>
  </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

  $('.fixed-buttons').remove();

  $('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 0 + '%','aria-valuenow': 0}, {duration: 400, easing: 'linear'});

  $("#btn-save-exit").css("display", "none");


</script>

{% endblock %}
