{% extends '::step-base.html.twig' %}

{% block stylesheets %}
<!-- css step 2.4 carga pdf-->
<link rel="stylesheet" type="text/css" href="{{ asset('/css/set4.css') }}" />
{% endblock %}
{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<h1 class="display-3">Paso 2.5</h1>

		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>Como inscribirse en tu huerto</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clone-inside">
						<div class="1">
							<label for="inscription-step">Paso 1</label>
							<textarea rows="4" cols="50" class="form-control" id="inscription-step" value="{{ orchard.projectStart }}" maxlength="200"></textarea>
							<br>
						</div>
					</div>

				</div>


				<div class="new-step">Añadir un nuevo paso. <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
				<br><br>
					<div class="hidden-md-up not-visible pull-right" data-toggle="modal" data-target="#myModal">¿Quieres ver un ejemplo?</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="25">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</form>
</div>

<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Paso 1: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 2: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 3: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 4: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!--modal-->

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 100 + '%','aria-valuenow': 100}, {duration: 400, easing: 'linear'});
</script>

<script type="text/javascript">
//add new step on click
$( document ).ready(function() {
	var inscriptionStep = 2;
	$('.new-step').click(function() {
		$( ".1" ).clone().removeClass( "1" ).addClass(""+inscriptionStep).appendTo( ".clone-inside" );
		$( "."+inscriptionStep+" > label" ).text("Paso "+inscriptionStep);
		inscriptionStep++;
	});

});
</script>
{% endblock %}
