{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>¿Qué servicios ofreces?</h4></label><br>

				<div class="row">
					{% for orchard_service in orchard_services %}

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ orchard_service.name }}</span>
						</label>
					</div>

					{% endfor %}
				</div>

<br>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label class="custom-control custom-checkbox">
						  <input id="cb-new-type" type="checkbox" class="custom-control-input">
						  <span class="custom-control-indicator"></span>
						  <span class="custom-control-description">Sugiérenos un servicio</span>
						</label>
						<input type="text" class="form-control" id="Type" placeholder="Escribe aquí el tipo de tu huerto" hidden>

<br>
						<a id="mail-url"><button id="btn-enviar" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6" hidden>Enviar</button></a>
					</div>
				</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="23">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#cb-new-type').click(function() {
				this.checked ? $('#Type').removeAttr('hidden') : $('#Type').attr('hidden', 'hidden');
				this.checked ? $('#btn-enviar').removeAttr('hidden') : $('#btn-enviar').attr('hidden', 'hidden');
			});

			$('#Type').keyup(function() {
				$('#mail-url').attr('href', "http://localhost:8000/orchard/send/"+$('#Type').val());
			});
		});
	</script>

	<script type="text/javascript">

		$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 40 + '%','aria-valuenow': 40}, {duration: 400, easing: 'linear'});

		$('#Type').val();
	</script>
{% endblock %}
