{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row steps">
  <div class="col-xs-12 col-md-5 col-lg-5">
    <h1 class="display-4">¡Hola {{userName}}!</h1>
    <small>Haz que más personas conozcan tu huerto</small>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <h4>Paso 1</h4>
        <p><small>Diles lo esencial (dónde está...)</small></p>
        <a href="create/1"><button type="button" class="btn btn-primary">Empezar</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <h4>Paso 2</h4>
        <p><small>¿Qué pueden encontrar allí? (fotos, servicios...)</small></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <h4>Paso 3</h4>
        <p><small>Cuéntanos algo más especial de tu huerto</small></p>
      </div>
    </div>


  </div>

  <div class="steps-right col-xs-12 col-md-7 col-lg-7">
    <h2 class="display-3">Muchos urbanitas sólo conocen 1 o 2 huertos en tu ciudad y alrededores</h2>
    <h1 class="display-4">¡Descúbreles el tuyo!</h1>
  </div>
</div>

{% endblock %}
