{% set id_orchard=orchard.id %}
{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>Cuenta la filosofía de tu huerto</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="ProjectStart">¿Cómo se inició el proyecto?</label><span id="start-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="ProjectStart"  value="{{ orchard.projectStart }}" placeholder="Escribe aquí cómo se inició el proyecto" maxlength="500"></textarea>

					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="GovernanceModel">Modelo de Gobernanza</label><span id="governance-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="GovernanceModel"  value="{{ orchard.governanceModel }}" placeholder="Aquí puedes contar tu modelo de Gobernanza" maxlength="500"></textarea>

					</div>
					<br><br><br><br>
				</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="21">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 100 + '%','aria-valuenow': 100}, {duration: 400, easing: 'linear'});
	</script>

	<script type="text/javascript">
		//contador de caracteres restantes
			$( document ).ready(function() {
				var maxLength = 500;
				$('textarea').keyup(function() {
					var length = $(this).val().length;
					var length = maxLength-length;
					$(this).prev().text(length);
					if(length == 0) {
							$(this).addClass( "ta-maxlength" );
					}else {
							$(this).removeClass( "ta-maxlength" );
					}
				});
			});
	</script>
{% endblock %}
