{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<h1 class="display-3">Paso 1.4</h1>

		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>¿Qué tipo de huerto es?</h4></label><br>

				<div class="row">
					{% for orchard_type in orchard_types %}
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">{{ orchard_type.name }}</span>
							</label>
						</div>
					{% endfor %}
				</div>

				<br>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label class="custom-control custom-checkbox">
							<input id="cb-new-type" type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Sugiérenos un tipo de huerto</span>
						</label>
						<input type="text" class="form-control" id="Type" placeholder="Escribe aquí el tipo de tu huerto" hidden>

						<br>
						<button id="btn-enviar" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6" hidden>Enviar</button>
					</div>
				</div>
				<br><br>


				<div class="hidden-md-up not-visible pull-right" data-toggle="modal" data-target="#modalDescripciones"><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i></div>


			</div>

			<div class="fixed-buttons row">
				<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">Atrás</button>
				<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">Siguiente</button>
			</div>

			<input type="text" id="Step" hidden="hidden" value="15">

		</form>

		<div class="modal fade" id="myModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Muchas gracias!</h4>
					</div>
					<div class="modal-body">
						<p>Cuando estudiemos tu sugerencia te enviaremos un email con el resultado. <p>&#x1f609</p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>


<!--modal-->
<div class="modal fade" id="modalDescripciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Aquí irán las decripciones de cada huerto</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
	$('#cb-new-type').click(function() {
		this.checked ? $('#Type').removeAttr('hidden') : $('#Type').attr('hidden', 'hidden');
		this.checked ? $('#btn-enviar').removeAttr('hidden') : $('#btn-enviar').attr('hidden', 'hidden');
	});

	$('#btn-enviar').off('click');
	$('#btn-enviar').on('click', function() {
		if($('#Type').val()) {
			$.ajax({
				type: 'POST',
				url: '/orchard/send/'+$('#Type').val(),
				data: form,
				success: function(data) {
					console.log('success');
					$('#myModal').modal('show');
				},
				error: function(jqXHR, exception) {
					if (jqXHR.status === 0) {
						alert('Not connect.\n Verify Network.');
					} else if (jqXHR.status == 404) {
						alert('Requested page not found. [404]');
					} else if (jqXHR.status == 500) {
						alert('Internal Server Error [500].');
					} else if (exception === 'parsererror') {
						alert('Requested JSON parse failed.');
					} else if (exception === 'timeout') {
						alert('Time out error.');
					} else if (exception === 'abort') {
						alert('Ajax request aborted.');
					} else {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					}
					console.log('error');
				}
			});
		}
		return false;
	});

	$('#Type').keyup(function() {
		$('#btn-enviar').off('click');
		$('#btn-enviar').on('click', function() {
			if($('#Type').val()) {
				$.ajax({
					type: 'POST',
					url: '/orchard/send/'+$('#Type').val(),
					data: form,
					success: function(data) {
						console.log('success');
						$('#myModal').modal('show');
					},
					error: function(jqXHR, exception) {
						if (jqXHR.status === 0) {
							alert('Not connect.\n Verify Network.');
						} else if (jqXHR.status == 404) {
							alert('Requested page not found. [404]');
						} else if (jqXHR.status == 500) {
							alert('Internal Server Error [500].');
						} else if (exception === 'parsererror') {
							alert('Requested JSON parse failed.');
						} else if (exception === 'timeout') {
							alert('Time out error.');
						} else if (exception === 'abort') {
							alert('Ajax request aborted.');
						} else {
							alert('Uncaught Error.\n' + jqXHR.responseText);
						}
						console.log('error');
					}
				});
			}
			return false;
		});
	});
});
</script>

<script type="text/javascript">

$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 80 + '%','aria-valuenow': 80}, {duration: 400, easing: 'linear'});

$('#Type').val();
</script>
{% endblock %}
