{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<h1 class="display-3">Paso 1.2</h1>

		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>¿Cómo pueden contactar conmigo?</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="Mail" class="label-control" data-toogle="tooltip" data-placement="right" title="Campo requerido">Mail</label>
						<span style="display: none;">Campo requerido</span>
						<input type="text" class="form-control required" id="Mail" placeholder="Escribe aquí tu email"><br>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="Phone" class="label-control" data-toogle="tooltip" data-placement="right" title="Campo requerido">Teléfono</label>
						<span style="display: none;">Campo requerido</span>
						<input type="text" class="form-control required" id="Phone" placeholder="Escribe aquí tu teléfono"><br>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="Web" >Web / Blog</label>
						<input type="text" class="form-control" id="Web" placeholder="Escribe aquí tu Web / Blog">
					</div>
					<br><br><br><br>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="orchard-social">Redes Sociales</label>
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Facebook" />
							<label class="input__label input__label--fumi" for="orchard-facebook">
								<i class="fa fa-fw fa-facebook-official icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Facebook</span>
							</label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Instagram" />
							<label class="input__label input__label--fumi" for="orchard-instagram">
								<i class="fa fa-fw fa-instagram icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Instagram</span>
							</label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Twitter" />
							<label class="input__label input__label--fumi" for="orchard-twitter">
								<i class="fa fa-fw fa-twitter icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Twitter</span>
							</label>
						</span>
					</div>
				</div>

			</div>

			<div class="fixed-buttons row">
				<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">Atrás</button>
				<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6" disabled="disabled">Siguiente</button>
			</div>

			<input type="text" id="Step" hidden="hidden" value="13">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>

<script type="text/javascript">
(function() {
	// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
	if (!String.prototype.trim) {
		(function() {
			// Make sure we trim BOM and NBSP
			var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
			String.prototype.trim = function() {
				return this.replace(rtrim, '');
			};
		})();
	}

	[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
		// in case the input is already filled..
		if( inputEl.value.trim() !== '' ) {
			classie.add( inputEl.parentNode, 'input--filled' );
		}

		// events:
		inputEl.addEventListener( 'focus', onInputFocus );
		inputEl.addEventListener( 'blur', onInputBlur );
	} );

	function onInputFocus( ev ) {
		classie.add( ev.target.parentNode, 'input--filled' );
	}

	function onInputBlur( ev ) {
		if( ev.target.value.trim() === '' ) {
			classie.remove( ev.target.parentNode, 'input--filled' );
		}
	}
})();

var facebook = document.getElementById("facebook");
var twitter = document.getElementById("twitter");
var instagram = document.getElementById("instagram");

function toggleCheckboxFacebook(element){
	if (document.getElementById('cbfacebook').checked) {
		facebook.setAttribute("type", "text");
	} else {
		facebook.setAttribute("type", "hidden");
	}
}

function toggleCheckboxInstagram(element){
	if (document.getElementById('cbinstagram').checked) {
		instagram.setAttribute("type", "text");
	} else {
		instagram.setAttribute("type", "hidden");
	}
}

function toggleCheckboxTwitter(element){
	if (document.getElementById('cbtwitter').checked) {
		twitter.setAttribute("type", "text");
	} else {

		twitter.setAttribute("type", "hidden");
	}
}

</script>

{% endblock %}
