{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
    <h1 class="display-3">Paso 1.3
      <span id="loading-images" style="display: none;" class="navbar-text">
        Cargando imagenes...
      </span>
    </h1>
    <form>
      <div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <label><h4>Sube alguna imagen para que conozcan un poco tu huerto</h4></label><br>
        <div class="cuadro-subidas" ondrop="drop(event)" ondragover="allowDrop(event)">
          <input hidden type="file" id="fileinput" multiple="multiple" accept="image/*" />
          <div id="gallery">
          </div>

          <div class="more" onclick="$('#fileinput').click();">
            <p>Añade o arrastra imagenes</p>
          </div>
        </div>
      </div>
      <div class="fixed-buttons row">
        <button id="btn-atras"type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">Atrás</button>
        <button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">Ahora no</button>
      </div>

      <input type="text" id="Step" hidden="hidden" value="14">
    </form>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
    <img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
  </div>



{% endblock %}

{% block javascripts %}
<script src="{{asset('js/images.js')}}" charset="utf-8"></script>
<script type="text/javascript">

$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 60 + '%','aria-valuenow': 60}, {duration: 400, easing: 'linear'});

var imagenes = new Array();
console.log(imagenes);
//cargar imagenes con click
var filesinput = document.querySelector('#fileinput');
filesinput.addEventListener('change', function () {
  console.log("detectando cambios en input");
  $("#loading-images").fadeIn("slow");
  for(var i=0; i<this.files.length; i++){
    console.log("dibujando imagen"+i);
    previewImage(this.files[i]);
    //console.log("preparando imagen "+this.files[i].name);
  }
  $("#loading-images").fadeOut("slow");
}, false);

$("#description").keydown(function() {
  $(this).val($this.val());
});


</script>

{% endblock %}
