{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<h1 class="display-3">Paso 1.5</h1>

		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>Cuenta la filosofía de tu huerto</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="start">¿Cómo se inició el proyecto?</label><span id="start-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="start"  value="{{ orchard.projectStart }}" placeholder="Escribe aquí cómo se inició el proyecto" maxlength="500"></textarea>

					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="governance">Modelo de Gobernanza</label><span id="governance-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="governance"  value="{{ orchard.governanceModel }}" placeholder="Aquí puedes contar tu modelo de Gobernanza" maxlength="500"></textarea>

					</div>
					<br><br><br><br>
				</div>

			</div>

			<div class="fixed-buttons row">
				<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">Atrás</button>
				<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6" disabled="disabled">Siguiente</button>
			</div>

			<input type="text" id="Step" hidden="hidden" value="13">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 100 + '%','aria-valuenow': 100}, {duration: 400, easing: 'linear'});
	</script>

	<script type="text/javascript">
		//contador de caracteres restantes
			$( document ).ready(function() {
				var maxLength = 500;
				$('#start').keyup(function() {
				  var lengthStart = $(this).val().length;
				  var lengthStart = maxLength-lengthStart;
				  $('#start-chars').text(lengthStart);
					if(lengthStart == 0) {
						$(this).addClass( "ta-maxlength" );
					}else {
						$(this).removeClass( "ta-maxlength" );
					}
				});

				$('#governance').keyup(function() {
				  var lengthGov = $(this).val().length;
				  var lengthGov = maxLength-lengthGov;
				  $('#governance-chars').text(lengthGov);
					if(lengthGov == 0) {
						$(this).addClass( "ta-maxlength" );
					}else {
						$(this).removeClass( "ta-maxlength" );
					}
				});
			});
	</script>
{% endblock %}
