{% extends '::base.html.twig' %}

{% block guardarYsalir %}
<!--  -->
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h2>Huertos que has creado</h2>
      <button type="button" class="btn btn-success">Añade un nuevo huerto</button>
    </div>
  </div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
    <img src="http://www.ecologiaverde.com/wp-content/2015/12/Consejos-iniciar-huerto-bio.jpg" alt="">
  </div>
  <div class="col-lg-8 col-md-8 col-xs-6 col-sm-6">
    <h6>Título</h6>

    <i>Borrador</i>

    <i>Fecha</i>
    <div class="botones">
      <button type="button" class="btn btn-secondary">Publica</button>
      <button type="button" class="btn btn-secondary">Completa</button>
      
      <button type="button" class="btn btn-secondary">Despublica</button>
      <button type="button" class="btn btn-secondary">Modifica</button>

      <button type="button" class="btn btn-secondary">Elimina</button>

    </div>
  </div>
</div>

{% endblock %}
